/* font styles */

@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.open-sans {
  font-family: "Azeret Mono", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* global styles */
* {
  margin: 0;
}
.section-title {
  color: rgba(13, 19, 33, 1);
  font-size: 32px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 24px;
}
.inspiration {
  text-align: center;
  border-radius: 16px;
  margin-bottom: 130px;
}

/* Header Styles */
.banner {
  background-image: url("../assets/Hero-bg.png");
  background-repeat: no-repeat;
}
.banner-description {
  text-align: center;
  padding-top: 26px;
  padding-bottom: 48px;
}
.banner-title {
  color: rgba(13, 19, 33, 1);
  font-size: 48px;
  font-weight: 400;
  line-height: 68px;
  text-align: center;
}
.banner-description {
  color: rgba(13, 19, 33, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}
.btn-primary {
  width: 244px;
  height: 65px;
  justify-content: center;
  align-items: center;
  gap: 10;
  padding: 21px 24px 21px 24px;
  border-radius: 8px;
  background: rgba(13, 19, 33, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  border: none;
}

/* Main Styles */
.dev {
  text-align: center;
  border-radius: 16px;

  background: rgba(13, 19, 33, 0.02);
  /* margin-top: 130px; */
}
.dev-description {
  padding: 80px;
}
.change-world {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  margin: 48px auto;
  border-radius: 16px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0) 100%
  );
  padding: 48px;
  max-width: 850px;
}
.sub-title {
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 600;
}
.world-descriotion {
  color: rgba(13, 19, 33, 1);
  font-size: 16px;
  font-weight: 400;
}
.btn-learnMore {
  margin-top: 10px;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 1);
  opacity: 0.7;
  padding: 12px 20px 12px 20px;
  color: rgba(13, 19, 33, 1);

  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}
.change-world img {
  width: 30%;
  max-width: 200px;
}
.change-world-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  margin: 48px auto;
  padding: 48px;
  max-width: 850px;
  border-radius: 16px;
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0) 100%
  );
}
.change-world-2 img {
  width: 30%;
  max-width: 200px;
}
.targets {
  display: flex;
  gap: 24px;
  padding: 48px;
}
.target {
  text-align: left;
  border-radius: 16px;
  padding: 40px;
}
.color-1 {
  background: rgba(255, 76, 30, 0.05);
}
.color-2 {
  background: rgba(0, 76, 232, 0.05);
}
.color-3 {
  background: rgba(255, 223, 0, 0.05);
}
.target img {
  width: 56px;
}
.target h4 {
  color: rgba(13, 19, 33, 1);
  /* font-size: 24px; */
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}
.target p {
  color: rgba(13, 19, 33, 1);
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}
.target a {
  color: rgba(13, 19, 33, 1);
  font-size: 16px;
  font-weight: 600;
  text-decoration-line: underline;
}
.support-bg {
  margin: 0px 150px;
  text-align: center;
  border-radius: 16px;
  background-image: url("../assets/handshake.jpg");
  border-radius: 16px;
  background-repeat: no-repeat;
  /* background: rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2); */
  width: 1140px;
  /* width: 100%; */
  height: 300px;
  background-size: 100% 100%;
}
.feedback {
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 8px;

  background: rgba(255, 255, 255, 1);
  padding: 19px 20px 19px 20px;
  width: 548px;
  color: rgba(13, 19, 33, 0.4);

  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}
.feedback-container {
  margin-top: 24px;
}
.support-detail {
  padding: 64px 48px 64px 48px;
}
.btn-submit {
  padding: 17px 20px 17px 20px;
  border-radius: 8px;
  border: none;
  background: rgba(255, 255, 255, 1);
  color: rgba(13, 19, 33, 1);

  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}
.support-title {
  color: rgba(255, 255, 255, 1);

  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}
.support-datail {
  opacity: 0.7;
  color: rgba(255, 255, 255, 1);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin: 20px;
}

/* footer styles */
footer {
  margin-top: 50px;
  margin-bottom: 0;
  /* width: 1440px;
  height: 100px; */

  border-radius: 16px;
  background: rgba(13, 19, 33, 0.03);
}
.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 32px 50px 32px 50px;
}
footer a {
  font-size: 32px;
  margin-right: 24px;
}
